<section id="aboutMe" class="mt-24">
    
    <h2 class="text-2xl md:text-3xl font-bold text-gray-300 underline">
        Sobre mí
    </h2>
    
    <div class="mt-8 flex flex-col md:flex-row gap-8 items-start">
        
        <p class="max-w-2xl md:text-xl text-gray-300 leading-relaxed">
            Soy desarrollador web junior y administrador de sistemas con interés en
            crear aplicaciones web modernas y aprender nuevas tecnologías. Actualmente
            trabajo con herramientas como <span class="text-blue-600 font-bold"
            >Astro, Tailwind, JavaScript y PHP</span
            > para desarrollar proyectos personales y mejorar mis habilidades en desarrollo
            frontend y backend. Mi objetivo es seguir creciendo como desarrollador, construir
            proyectos interesantes y adquirir experiencia en el mundo profesional del desarrollo
            web.
        </p>
        
    </div>
    
</section>