<section class="mt-16">
    
    <h1 class="text-3xl md:text-5xl font-bold text-gray-300">
        Hola, soy Adrián Aguilar
    </h1>
    
    <h2 class="mt-3 text-lg md:text-xl text-blue-600 font-semibold">
        Desarrollador Web y Administrador de Sistemas
    </h2>
    <div class="flex flex-col md:flex-row justify-between items-center gap-8">
        <p class="mt-4 max-w-xl md:text-2xl text-gray-300">
            Este es mi portfolio personal donde muestro algunos proyectos desarrollados con tecnologías
            como Astro, Tailwind, JavaScript y otras herramientas de desarrollo web.
        </p>
        <img src={`${import.meta.env.BASE_URL}face.jpg`} alt="Foto de cara Adrián Aguilar" class="object-cover rounded-full w-40 h-40 md:w-48 md:h-48">
    </div>
    
</section>