<section id="tech" class="mt-24">
    
    <h2 class="text-2xl md:text-3xl font-bold text-gray-300 underline">
        Tecnologías
    </h2>
    
    <p class="text-gray-300/50">
        Clicar sobre el icono para filtrar proyectos afines
    </p>
    
    <div class="mt-10 flex flex-wrap items-center gap-8 text-4xl">
    
        <a href="#projects" class="tech-icon transition duration-150 hover:scale-150" data-tag="html">
            <i class="devicon-html5-plain colored"></i>
        </a>
        
        <a href="#projects" class="tech-icon transition duration-150 hover:scale-150" data-tag="css">
            <i class="devicon-css3-plain colored"></i>
        </a>
        
        <a href="#projects" class="tech-icon transition duration-150 hover:scale-150" data-tag="javascript">
            <i class="devicon-javascript-plain colored"></i>
        </a>
        
        <a href="#projects" class="tech-icon transition duration-150 hover:scale-150" data-tag="astro">
            <i class="devicon-astro-plain colored"></i>
        </a>
        
        <a href="#projects" class="tech-icon transition duration-150 hover:scale-150" data-tag="tailwind">
            <i class="devicon-tailwindcss-plain colored"></i>
        </a>
        
        <a href="#projects" class="tech-icon transition duration-150 hover:scale-150" data-tag="git">
            <i class="devicon-git-plain colored"></i>
        </a>
        
        <a href="#projects" class="tech-icon transition duration-150 hover:scale-150" data-tag="docker">
            <i class="devicon-docker-plain colored"></i>
        </a>
        
        <a href="#projects" class="tech-icon transition duration-150 hover:scale-150" data-tag="kubernetes">
            <i class="devicon-kubernetes-plain colored"></i>
        </a>
        
        <a href="#projects" class="tech-icon transition duration-150 hover:scale-150" data-tag="php">
            <i class="devicon-php-plain colored"></i>
        </a>
        
        <a href="#projects" class="tech-icon transition duration-150 hover:scale-150" data-tag="laravel">
            <i class="devicon-laravel-plain colored"></i>
        </a>
        
    </div>
        
    <a id="resetFilter" href="#projects" class="mt-6 inline-block text-sm text-blue-400 hover:text-blue-300 transition">
        Ver todos los proyectos
    </a>
    
</section>